body {
    pointer-events: none;
}

.container-custom {
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    height: 0;
    margin: 50px auto 50px auto;
}

.nav-hidden {
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
}

.page-footer {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding-bottom: 15px;
    background-color: #ea484e;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.predicted-word {
    margin-top: 5px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #26a69a;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-website-loading {
    transition: opacity 0.5s ease-in-out;
}